		/* Search bar */
.main-search{
	width: 500px;
	border-radius: 0;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left: -250px;
	margin-top: -1.5rem;
}
.main-search > input{
	border-radius: 0;
	background-clip: border-box;
}
.sub-search{
	position: relative;
}
.sub-search > input{
	width: 350px;
}
.sub-search > .search-dropdown{
	max-width: 350px;
}
.search-dropdown{
	position: absolute;
	width: 100%;
	z-index: 3;
}
.search-dropdown > .list-group-item{ 
	border-radius: 0;
	padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
}
.search-dropdown > .list-group-item.equip{
	background-size: 160px auto;
}
.search-dropdown > .list-group-item.ship{
	background-position: right -98px center;
	background-size: auto 47px;
}
.search-dropdown > .list-group-item.category{
	background-size: 47px 47px;
}
.search-dropdown > .active{
	background-color: #6286FF;
	border-color: #6286FF;
}
.search-dropdown > .list-group-item:first-child{
	border-top: none;
}
@media (max-width: 500px) {
	.main-search{
		width: 90%;
		margin-left: 5%;
		left: 0;
	}
	.sub-search > input{
		width: 100%;
		margin-top: 10px;
	}
}